<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Article Bookmarker</title>
  </head>

  <body>
    <div class="container">

      <% if @user && @user.id %>
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Article Bookmarker</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/users/<%= @user.id %>/articles">View Articles</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <%= @user.name %> <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">

                    <li class="center-this"><a href="/users/<%= @user.id %>/edit"><img src="<%= @user.avatar %>" width="50px" height="50px" class="avatar"><br>Edit Profile</a><li>
                    <li class="center-this">
                      <a>
                        <form action="/users/<%= @user.id %>" method="post">
                          <input type="hidden" name="_method" value="delete">
                          <input type="submit" class="submitLink" value="Delete Your Account">
                        </form>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>